/vendor
/node_modules

/public/hot
/public/storage

/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

.env
.env.*
!.env.example

.phpunit.result.cache

docker-compose.override.yml

Homestead.json
Homestead.yaml

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode

*.zip
*.rar
*.7z
